<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KomodoHubApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KomodoHub"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.ViewMessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SendMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ContributeContentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ConservationActivityDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TeacherConservationActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CreateAssignClassroomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminCodeGenerationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SpeciesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SpeciesListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>